{% extends "template_dash.html" %}
{% load static %}
{% block title %}
    Area membro
{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div id="divmainlayout" class="container">
  <!-- breadcrumbs -->
  <div id="alertComponent"></div>
  <div id="content">
    <div class="container" style="padding-left:10px">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
          <h2 class="h2-g">Área membro</h2>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body d-flex">
                    <h4 class="h4-g h-auto mx-0 my-auto w-80"><b>{{ membro }}</b></h4>
                    <h6 class="h6-g h-auto m-auto"><b>Entrou em: </b>{{ membro.data_entrada }}</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5 class="h5-g">Ultimas faturas</h5>
                     <h6 class="h6-g h-auto m-auto"><b>Entrou em: </b>{{ membro.data_entrada }}</h6>
                  <hr>
                  <div class="row">
                      {% for fatura in faturas %}
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div data-key="0" class="panel panel-default btn-boleto">
                        <div class="panel-body">
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:1px;">
                            <span class="glyphicon glyphicon-barcode fa-2x" aria-hidden="true"></span>
                          </div>
                          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <div class="row">
                                <h6 class="h6-g">
                                    {{ fatura.nome_fatura }}
                                </h6>
                            </div>
                            <div class="row">
                                <p class="p-g">{{ fatura.status }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5 class="h5-g">Ultimos pagamentos</h5>
                  <hr>
                  <div class="row">
                      {% for pagamento in pagamentos %}
                    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div data-key="0" class="panel panel-default btn-boleto">
                        <div class="panel-body">
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:1px;">
                            <span class="glyphicon glyphicon-barcode fa-2x" aria-hidden="true"></span>
                          </div>
                          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="row">
                              {{ pagamento.fatura_plano }}
                            </div>
                            <div class="row">
                              {{ pagamento.data_pagamento }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </aside>
                        {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->
  <br>
</div>
{% endblock content %}