{% extends "template_dash.html" %}
{% load static %}
{% block title %}
    Painel
{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main class="container" style="padding-left:10px">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
          <h2 class="h2-g">Painel membro</h2>
          <hr>

          <header class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-default">
                <aside class="panel-body d-flex">
                    <h4 class="h4-g h-auto mx-0 my-auto w-80"><b>{{ membro }}</b></h4>
                    <h6 class="h6-g h-auto m-auto"><b>Entrou em: </b>{{ membro.data_entrada }}</h6>
                </aside>
              </div>
            </div>
          </header>

          <section class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                    <header class="d-flex justify-content-between">
                        <h5 class="h5-g mx-0 my-auto w-90">Ultimas faturas</h5>
                        <a href="{% url 'contratos_list' %}" style="color: #0a53be"
                           class="h6-g h-auto m-auto link-success text-decoration-none">Ver todas</a>
                    </header>

                  <hr>
                  <article class="row">
                      {% for fatura in faturas %}
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div data-key="0" class="panel panel-default">
                        <div class="panel-body">
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:1px;">
                            <span class="glyphicon glyphicon-barcode fa-2x" aria-hidden="true"></span>
                          </div>
                          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <div class="row">
                                <h6 class="h6-g">
                                    {{ fatura.nome_fatura }}
                                </h6>
                            </div>
                            <div class="row ml-1">
                                <p class="p-g flag-card {% if fatura.status == 'ATRASADO'%} red-flag {% elif fatura.status == 'PAGO'%} green-flag{% endif %}">{{ fatura.status }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      {% endfor %}
                </article>
              </div>
            </div>
          </div>
        </section>

          <section class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <header class="d-flex justify-content-between">
                    <h5 class="h5-g mx-0 my-auto w-90">Ultimos pagamentos</h5>
                    <a href="{% url 'historic_pay' %}" style="color: #0a53be"
                       class="h6-g h-auto m-auto link-success text-decoration-none">Ver todas</a>
                  </header>
                  <hr>

                  <article class="row">
                      {% for pagamento in pagamentos %}
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div data-key="0" class="panel panel-default">
                        <div class="panel-body">
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:1px;">
                            <span class="glyphicon glyphicon-barcode fa-2x" aria-hidden="true"></span>
                          </div>
                          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="row">
                              {{ pagamento.fatura_plano }}
                            </div>
                            <div class="row">
                              {{ pagamento.data_pagamento }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     {% endfor %}
                  </article>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
{% endblock content %}